{% load static %}

<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Recipes</title>
</head>

<body>
     
 <nav>
    <ul>
        <img src="{% static 'images/chef.png' %}" alt="chef">
        <li class="title"><a href="/Python%20Web%20Basics%20Exam%20-%2001%20November%202020/static">Recipes</a></li>
        <li><a href="{% url 'create' %}">Add Recipe</a></li>
    </ul>
</nav>
 <div class="container">
        
    <h1>Delete Recipe</h1>
        <div class="items-container">
            <div class="item">
                <form method="POST" action="{% url 'delete' pk=recipe.pk%}">
                    {{ form }}
                    <input type="submit" class="button delete" value="Delete">
                    {% csrf_token %}
                </form>
            </div>
        </div>
 </div>


</body>
</html>