{% extends 'base.html' %}

{% block content %}

        <!-- Add Book Page -->
        <section id="create-page" class="create">
            <form id="create-form" action="{% url 'add_book' %}" method="POST">
                <fieldset>
                    <legend>Add New Book</legend>
                    {{ form }}
                    <input class="button submit" type="submit" value="Add Book">
                    {% csrf_token %}
                </fieldset>
            </form>
        </section>

{% endblock %}

