{% extends 'base.html' %}
{% block content %}

    <main>

        <!-- Edit Profile Form -->

        <section id="register">
            <div class="form">
                <h2>Edit Profile</h2>
                <form class="register-form" action="{% url 'edit_profile' %}" method="post">
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit">Edit</button>

                </form>
            </div>
        </section>

    </main>

{% endblock %}