{% extends 'base.html' %}

{% block content %}

    <!-- create plant form -->
    <section id="create-page" class="auth">
        <form id="create" action="{% url 'create_plant' %}" method="post">
            <div class="container">
                <h1 class="form-create-headline">Create Plant</h1>

                {{ form }}
                {% csrf_token %}

                <input class="btn" type="submit" value="Create Plant">

            </div>
        </form>
    </section>

{% endblock %}
